body {
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  color: white;
  background-color: black;
  text-align: center;
}

.title {
  margin: 1rem;
  line-height: 3rem;
}

.grid section {
  padding: 1.5em;
}

.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(1, 1fr);
  border: 2px solid white;
  border-radius: 20px;
  width: 70%;
  margin: 0 auto;
  padding: 1em;
  background-color: #0000fe;
  overflow: hidden;
}

.icons {
  grid-row: 2;
  grid-column: 1;
}

.my-choice {
  grid-row: 1;
  grid-column: 1;
  border: 2px white solid;
  border-radius: 15px;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  background-image: url(rock-paper-scissors.png);
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
}

.computer-choice {
  grid-row: 3;
  grid-column: 1;
  border: 2px white solid;
  background-color: white;
  border-radius: 15px;
  width: 80%;
  margin: 0 auto;
  background-image: url(rock-paper-scissors.png);
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
}

.result {
  grid-row: 4;
  grid-column: 1;
  border: 2px white solid;
  border-radius: 15px;
}

.score {
  grid-row: 5;
  grid-column: 1;
  border: 2px white solid;
  border-radius: 15px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: hidden;
}

th,
td {
  padding: 8px;
  text-align: center;
  border: 1px solid white;
  padding: 1em;
}

#result {
  line-height: 1.5rem;
}

.btn {
  width: 75px;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 5px 5px;
  font-size: 15px;
  cursor: pointer;
  margin: 5px;
  border-radius: 8px;
  filter: brightness(50%);
}

h3 {
  color: black;
  position: relative;
  bottom: 21px;
  margin-bottom: 30%;
}

.btn:hover {
  scale: 1.05;
  transition: 0.2s;
  filter: brightness(100%);
}

@media only screen and (min-width: 1150px) {
  body {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
  }

  .icons {
    grid-row: 2;
    grid-column: 2;
  }

  .my-choice {
    grid-row: 1 /3;
    grid-column: 1;
    background-size: 40%;
  }

  .computer-choice {
    grid-row: 1 / 3;
    grid-column: 3;
    background-size: 40%;
  }

  .result {
    grid-row: 3;
    grid-column: 2;
  }

  .score {
    grid-row: 4;
    grid-column: 2;
  }

  .alex-kidd {
    grid-row: 3/ 5;
    grid-column: 1;
    place-self: center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .janken {
    grid-row: 3/ 5;
    grid-column: 3;
    place-self: center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  h3 {
    color: black;
    position: relative;
    bottom: 15px;
  }
}
